/* 
	Disclaimer 	: there's no bug in this code, there's only feature !important 
	@author		: Harnindyto Wicaksana,
	contact		: todi.to;
*/

/* =============================================================== */
/* general */
/* =============================================================== */
/* smooth scroll */
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;

}

/*================================================================ */
/* button changing theme */
/*================================================================ */

.clearfix {
  overflow	: auto;
}

#theme{
	float 	: right;
	width 	: 20%;
	
}
#leftheme{
	width 	: 80%;
}