<!DOCTYPE html>

{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->

<html>
	<head class="heading" >
		<link rel="stylesheet" type="text/css" href="{% static '/home.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<title>Know Todi</title>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   

		<script type="text/javascript" src="../static/js/themechange.js"></script>
		<script type="text/javascript" src="../static/js/accordion.js" ></script>
		
	</head>
	

	<body style="background-color:white;" id = "body">
		
		<div class="clearfix">
			<h1 style="fontcolor:black;" id="leftheme">“Halo, apa kabar?”</h1>
			<div id="theme">
				<button onclick="themechange()" id="themec">change</button>
			</div>
		</div>
		
		<div id="accordion" class="accordion">
			<h3>Aktivitas</h3>
			<div><p>gabut.</p></div>
			
			<h3>Pengalaman</h3>
			<div><p>amateur.</p></div>
			
			<h3>Prestasi</h3>
			<div><p>nop.</p></div>
		</div>
		
		
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button  type="submit" value="Submit" name="Submit" class="btn btn-primary">Submit</button>
		</form>
		
        <div class="card">

		{% for s in status %}
			
			<div class="card-body">
				<p class="card-text" style="color:red;">
					{{ s.status }}
				</p>
				<h6 class="card-subtitle mb-2 text-muted font-italic" style="font-size:14px;">{{ s.time }}</h6>
			</div>
		{% endfor %}
		</div>
	</body>
	
</html>