<!DOCTYPE html>

{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->

<html>
	<head class="heading" >
		<link rel="stylesheet" type="text/css" href="{% static '/home.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<title> Know
		{% if user.is_authenticated %}
		{{ user.username }}
		{% else %}
		?
		{% endif %}
		</title>
		
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
	  <div class="align-self-center">
		{% if user.is_authenticated %}
			<div class="d-flex justify-content-center">
				<h1>Hi {{ user.username }}!</h1>
			</div>
				<div class="d-flex justify-content-center">
				<a type="button" class="btn btn-link" href="{% url 'logout' %}">logout</a>
			</div>
		{% else %}
			<div class="d-flex justify-content-center">
				<h1>Login first</h1>
			</div>
				<div class="d-flex justify-content-center">
				<a htype="button" class="btn btn-link" href="{% url 'login' %}">login</a>
			</div>
		{% endif %}
	  </div>
	</body>
	
</html>